@model DemandaDiaria.Data.Entities.Plaza

<h4>Plaza</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SucursalesNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SucursalesNumber)
    </dd>
</dl>
